body {
  color: #030119;
  background-color: #e3e9f2;
  /* font-family: 'Libre Baskerville', serif; */
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
}

a {
  color: #030119;
  text-decoration: none;
}

ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

ul li {
  list-style: none;
  width: 6px;
  height: 20px;
  background: #262626;
  margin: 0 4px;
  animation: animate .7s infinite alternate;
}
@keyframes animate {
  0%
  {
    transform: scaleY(1);
  }
  25%
  {
    transform: scaleY(1);
  }
  50%
  {
    transform: scaleY(1);
  }
  75%
  {
    transform: scaleY(1);
  }
  100%
  {
    transform: scaleY(3);
  }
}

ul li:nth-child(1) {
  animation-delay: .1s;
}
ul li:nth-child(2) {
  animation-delay: .2s;
}
ul li:nth-child(3) {
  animation-delay: .3s;
}
ul li:nth-child(4) {
  animation-delay: .4s;
}
ul li:nth-child(5) {
  animation-delay: .5s;
}
ul li:nth-child(6) {
  animation-delay: .6s;
}

a:hover {
  border-bottom: 1px dotted;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.player {
  margin: 5px;
}

.player-wrapper {
  padding: 5px;
  display: inline-block
}

.song-info {
  font-weight: 300;
  text-align: center;
}
